:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--system-ui);
    font-size: 18px;
    line-height: 1.5;
    color: #f0eef2;
    min-height: 100%;
    /*
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     */
}

body {
    margin: 0;
    padding: 10px;
    /* Remove the background gradient */
    /* background-image: linear-gradient(#ff0f7b, #f89b29); */
    background-color: rgba(64, 48, 158, 0.5); /* Background color with transparency */
    background-image: url('https://scontent.fisb17-1.fna.fbcdn.net/v/t39.30808-6/304318557_467950848680087_1669612693253644552_n.jpg?stp=dst-jpg_s960x960&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=LUhtLB3DDcsQ7kNvgHTGVGC&_nc_ht=scontent.fisb17-1.fna&oh=00_AYBaKPpUW4NT2wjtMvnxwNxPlgW_ei8gTBznOahFADzd7Q&oe=66669ACC'); /* URL of your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    position: relative; /* Set position to relative for overlay */
}

/*input[type=name], input[type=button] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}*/
/*
input[type="text"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus, select, textarea {
    outline: 0
   /*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;

}
*/
#description, #title {
    padding: 0 10px;
    text-align: center;
}

#description {
    font-weight: bold;
}

#survey-form {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    background: rgba(24, 57, 127, 0.484);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: relative; /* Set position to relative for overlay */
    z-index: 1; /* Ensure the form is above the background */
}

#dropdown {
    /*accent-color: #FF0F7BFF;*/
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);
    color: #251c2f;
    background-color: white;
}

#specify {
    display: none;
}

#checkbox-7:checked ~ #specify {
    display: block;
}

#textarea {
    font-family: var(--system-ui);
    min-height: 5rem;
    max-height: 20rem;
    width: 100%;
    resize: vertical;
}


.sm {
    font-size: 0.8em;
}

.bold {
    font-weight: 800;
}

.pink{
    accent-color: #FF0F7BFF;
}

.bottom-space {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
#textarea,
select,
textarea {
    border: 1px solid #251c2f;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    outline: #FF0F7BFF 10px !important;
    accent-color: #FF0F7BFF !important;
    border-color: #ff0f7b !important;
    -webkit-tap-highlight-color: transparent;
}

input[type=submit] {
    border: 1px solid #251c2f;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    color: #251c2f;
    font-size: 1rem;
    background-image: linear-gradient(to bottom right, #9085c1, #9085c1, #fff);
    cursor: pointer;
}

input[type=submit]:hover {
    background-image: linear-gradient(to bottom right, #fff, #9085c1, #9085c1);
    margin: 10px auto;
    border-color: #ff0f7b !important;
    font-weight: bold;
    outline: #FF0F7BFF 10px !important;
    accent-color: #FF0F7BFF !important;
    -webkit-tap-highlight-color: transparent;
}

input[type=submit]:active {
    background-image: linear-gradient(to bottom right, #9085c1, #9085c1);
    /*box-shadow: 0 0 10px 0 rgba(29, 245, 71, 0.5);*/
    border-color: #ff0f7b !important;
    font-weight: bold;
    outline: #FF0F7BFF 10px !important;
    accent-color: #FF0F7BFF !important;
    -webkit-tap-highlight-color: transparent;
}